.header__inner {
    height: 80px;
    background-color: #ffffff;
    position: relative;
}

.header__title {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.header__nav {
    width: 270px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
}

.header__nav--list {
    display: flex;
}

.date__page {
    margin-top: 50px;
    text-align: center;
}

.date__page span {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.date__page a {
    cursor: pointer;
    text-align: center;
    background: #ffffff;
    color: blue;
    line-height: 1em;
    border: 1px solid blue;
    font-size: 15pt;
    text-decoration: none;
    padding: 5px 10px;
}

.date__page a:hover{
    color: #ffffff;
    background: #00007f;
}

.attendance__table {
    width: 800px;
    margin: 20px auto;
}

.attendance__table--content {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-top: solid 1px #000;
}

th,
td {
    padding: 15px 10px;
    border-top: solid 0.5px #000;
}

